<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

<% if @photo.image.attached? %>
  <%= image_tag @photo.image, width: 280 %>
<% end %>

